<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1 id="post-list-title">Your Feed</h1>
<ol class="post-list">
    <% postList.results.forEach(function(post) {%>
        <li class="post">
            <img class="post-image" src="<%= post.imageUrl %>" />
            <div class="post-text">
                <p class="post-username"><%= post.postedBy.username %></p>
                <p class="post-date"><%= format(post.createdAt, "dd MMM yy") %></p>
                <p class="post-message"><%= post.message %></p>
            </div>
        </li>
    <% }); %>
</ol>

<%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
<% } %>
<%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
<% } %>

</body>
<%- include('_footer') -%>
</html>